[MAIN]

disable = 
    C0116,
    E0015,
    C0114,
    W0703,
    C0209,
    C0321,
    W0221,
    R0801,
    C0115,
    W0238,
    C0301,
    C0303,
    C0304,
    R0903

analyse-fallback-blocks=no
clear-cache-post-run=no
